* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5em;
}

.board-btn {
  background-color: var(--semi-dark-navy);
  color: #fff;
  -webkit-box-shadow: 0px 9px 0px 0px var(--shadow-navy); 
  box-shadow: 0px 9px 0px 0px var(--shadow-navy);
  border: none;
  height: 90px;
  border-radius: 10px;
}